@import "tailwindcss";

:root {
  --background: #151c20;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}